{% extends 'pizzaapp/base.html' %}
{% block content %}

<div style="display: block;    width: 252px;    background-color: orange; padding:20px;margin-top: 200px; text-align: center;" class="container" >

<form method="post" action="{% url 'adminauthenticateview' %}">
	{% csrf_token %}
	<h2 style="color: black;text-align: center;">Admin Login</h2>
	User Name: <input style="margin-bottom: 15px;" type="text" placeholder="username" name="username"><br>
	Password: <input type="password" name="password" placeholder="password">
	<input style="display: block;margin: auto;margin-top: 10px;" type="submit" value="submit" name="submit">	

</form>
</div>
{% for message in messages %}
<p style="text-align: center;color: red;"> {{ message }}</p>
{% endfor %}


{% endblock %}